---
import Button from "@/components/LinkButton.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import GithubIcon from "@/icons/Github.astro";
import Tools from "@/components/Tools.astro";
---
<Layout
	title="API Texto "
	description="Genere datos aleatoriamente para tus formatos JSON."
>
	<main class="px-4">
		<SectionContainer>
			<div class="flex flex-row flex-wrap justify-center items-center gap-4 mb-8 mt-1 text-black text-xl w-60 relative m-auto ">
				<input class="bg-secondary text-accent font-bold text-center text-2xl p-4 rounded-md border-2 border-primary" type="number" id="no-of-para" value="2" max="20" />
				<Button id="generate-btn">Generar</Button>
				<Button id="copy-btn">Copiar</Button>
			</div>
			<div class="text-center lg:text-pretty text-white/70 leading-tight gap-2" id="para"></div>
						
		</SectionContainer>

	</main>
</Layout>
