---
import LinkButton from "@/components/LinkButton.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import GithubIcon from "@/icons/Github.astro";
---
<Layout
	title="Generador de paletas de colores "
	description="Generador de paletas de colores para tus proyectos web."
>
	<main class="px-4">
		<SectionContainer>

		</SectionContainer>

	</main>
</Layout>
