---
import LinkButton from "@/components/LinkButton.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import GithubIcon from "@/icons/Github.astro";
import Tools from "@/components/Tools.astro";
---
<Layout
	title="Generador de citas "
	description="Generador de citas aleatorias en español"
>
	<main class="px-4">
		

	</main>
</Layout>
