---
import LinkButton from "@/components/LinkButton.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import GithubIcon from "@/icons/Github.astro";
import Tools from "@/components/Tools.astro";
---
<Layout
	title="RGB Color"
	description="Generador de colores RGB. Y visualizarlo en tu navegador."
>
	<main class="px-4">
		

	</main>
</Layout>
