---
import Button from "@/components/LinkButton.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
---
<Layout
	title="Convertidor de Unidades"
	description="Convierte unidades de medida facilmente."
>
	<main class="px-4">
		<SectionContainer>
			<div id="pallete-container"></div>
			<Button id="button-pallete">Generar Paleta</Button>
		</SectionContainer>
	</main>
</Layout>
