---
const currentYear = new Date().getFullYear();
---

<footer class="m-4 w-full xl:w-[1120px] mx-auto mb-10">
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="flex justify-center gap-x-2 text-sm sm:text-center text-white"
            >© {currentYear}
            <a href="https://github.com/FrankM01/FrankM01" class="hover:underline"
                >   Frank Mijhael Bendezú Hinostroza</a
            >
        </span>
        <ul
            class="flex flex-wrap items-center text-center justify-center mt-3 text-sm font-medium text-accent sm:mt-0"
        >
            <li>
                <a href="https://porfolio-frankm01.netlify.app/" class="hover:underline me-4 md:me-6">Sobre mí</a>
            </li>
            <li>
                <a href="mailto:frankmijhael01@gmail.com" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
</footer>
