---
const { href } = Astro.props;
---

<a
    href={href}
    class="bg-black text-white  border border-black rounded-lg full inline-flex justify-center items-center gap-x-2 py-2 px-2  text-xl transition hover:scale-110 hover:bg-secondary hover:text-accent"
>
    <slot />
</a>
