---
const TOOLS = [
    {
        title: "Color Aleatorio",
        description:
            "Si no tienes idea de color elegir para que sea tu color primario, pues deja que lo haga por ti. ",
        image: "images/brush.svg",
    },
    {
        title: "RGB Color",
        description:
            "Pon un color RGB y visualiza como quedaria tus componentes..",
        image: "images/rgb.svg",
    },
    {
        title: "Generador de Citas",
        description:
            "Si necesitas colocar citas en tu web, este generador puede ser de tu ayuda..",
        image: "images/quotes.svg",
    },
    {
        title: "Generador de paletas de colores",
        description:
            "Un generador de paletas para que tus paginas esten asombrosas.",
        image: "images/palette.svg",
    },
    {
        title: "Lorem Ipsum",
        description:
            "Generar diferentes tipos de texto lorem ipsum.",
        image: "images/lorem.svg",
    },
    {
        title: "Convertidor de Unidades",
        description:
            "Convierte tus unidades de medida facilmente.",
        image: "images/ruler.svg",
    },
    {
        title: "API Texto",
        description:
            "Genera textos de ejemplos para tus JSON",
        image: "images/api.svg",
    },
];
---

<section class="flex flex-col gap-y-16 p-4">
    {
        TOOLS.map(({ image, title, description }) => (
            <a href="#" class="bg-secondary flex flex-col rounded-b-2xl">
                <img
                    class="size-fit p-16"
                    src={image}
                    alt={`Captura de pantalla del projecto ${image}`}
                />
                <div class = "bg-third rounded-b-2xl border-t-2 border-black">
                    <h3 class="text-accent text-2xl font-semibold text-center px-2 py-2 pb-4">
                        {title}
                    </h3>
                    <p class="text-white text-pretty text-xl text-center px-2 py-2 ">
                        {description}
                    </p>
                </div>
            </a>
        ))
    }
</section>
