---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";


// Supports weights 100-900
import '@fontsource-variable/onest';

interface Props {
	title: string;
	description: string;
}


const { title, description } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="#" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	:root{
		--color-primary: #29252C;
		
	}
	html {
		font-family: 'Cascadia Code', monospace;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background-color: var(--color-primary);
	}
	h2,p,a{
		font-family: 'Onest Variable', sans-serif;

	}

</style>
